body {
    font-family: Helvetica, sans-serif;
}

.table-container {
    max-width: 860px;
    margin: 0 auto;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
}

.content-table thead {
    font-size: 1.3em;
    color: #ffffff;
    background: #3498db;
}

.content-table tbody {
    font-size: 1.2em;
    color: #525058;
}

.content-table td {
    padding: 0.625em;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
}

.content-table td:nth-child(3) {
    width: 310px;
}

.content-table td:nth-child(4) {
    width: 200px;
}

.content-table > tbody > tr:nth-child(odd) {
    background: #eeeeee;
}

.content-table > tbody > tr:nth-child(even) {
    background: #ffffff;
}